body {
    font-family: Roboto;
  }
  
  section {
      background-color: rgb(249, 65, 56);
  }
  
  .pagination a {
      background-color: #8fd300;
  }
  
  .blogpost h3 {
      color: #006690;
  }